Repository donmccurdy/glTF-Transform, pull requests merged in 2021-04, with the labels that each got.

#59 [lib] Add 'quantize' transform.
  docs/LIBRARY.md
  packages/cli/src/cli.ts
  packages/core/src/core.ts
  packages/lib/src/index.ts
  packages/lib/src/quantize.ts
  packages/lib/test/quantize.test.ts
Labels: feature, package:lib

#209 [lib] Improve attribute quantization. (fixes #208)
  packages/lib/src/quantize.ts
  packages/lib/test/quantize.test.ts
Labels: bug, package:lib

#221 [core] Track channel usage for textures
  packages/cli/src/transforms/toktx.ts
  packages/cli/test/toktx.test.ts
  packages/core/src/constants.ts
  packages/core/src/core.ts
  packages/core/src/graph/graph.ts
  packages/core/src/properties/material.ts
  packages/core/src/properties/primitive.ts
  packages/core/src/properties/property-graph.ts
  packages/core/src/properties/property-links.ts
  packages/core/test/graph/graph.test.ts
  packages/core/test/properties/material.test.ts
  packages/extensions/src/khr-materials-clearcoat/clearcoat.ts
  packages/extensions/src/khr-materials-pbr-specular-glossiness/pbr-specular-glossiness.ts
  packages/extensions/src/khr-materials-sheen/sheen.ts
  packages/extensions/src/khr-materials-specular/specular.ts
  packages/extensions/src/khr-materials-transmission/transmission.ts
  packages/extensions/src/khr-materials-volume/volume.ts
  packages/lib/src/inspect.ts
  packages/lib/src/quantize.ts
Labels: feature, package:core, package:extensions

#222 [cli] Add 'ktxfix' command.
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/transforms/index.ts
  packages/cli/src/transforms/ktxfix.ts
  packages/cli/src/transforms/toktx.ts
  packages/cli/src/util.ts
  packages/cli/test/in/test.ktx2
  packages/cli/test/ktxfix.test.ts
Labels: feature, package:cli

#226 Replace get-pixels and save-pixels with ndarray-pixels (fixes #214)
  packages/lib/package.json
  packages/lib/src/utils.ts
  packages/lib/test/metal-rough.test.ts
  yarn.lock
Labels: dependencies, package:lib

#202 [core] Fix missing default scene from document root.
  packages/core/src/io/reader.ts
  packages/core/src/io/writer.ts
  packages/core/src/properties/root.ts
  packages/core/test/properties/root.test.ts
Labels: feature, package:core

#238 [core] Ensure that copy() unsets existing properties.
  packages/core/src/properties/accessor.ts
  packages/core/src/properties/animation-channel.ts
  packages/core/src/properties/animation-sampler.ts
  packages/core/src/properties/material.ts
  packages/core/src/properties/node.ts
  packages/core/src/properties/primitive.ts
  packages/core/src/properties/root.ts
  packages/core/src/properties/skin.ts
  packages/core/test/properties/skin.test.ts
  packages/extensions/src/khr-materials-clearcoat/clearcoat.ts
  packages/extensions/src/khr-materials-pbr-specular-glossiness/pbr-specular-glossiness.ts
  packages/extensions/src/khr-materials-sheen/sheen.ts
  packages/extensions/src/khr-materials-specular/specular.ts
  packages/extensions/src/khr-materials-transmission/transmission.ts
  packages/extensions/src/khr-materials-variants/mapping.ts
  packages/extensions/src/khr-materials-volume/volume.ts
Labels: bug, package:core

#239 [extensions] Enforce "noImplicitAny"
  packages/core/src/io/writer-context.ts
  packages/extensions/src/khr-draco-mesh-compression/draco-mesh-compression.ts
  packages/extensions/src/khr-draco-mesh-compression/encoder.ts
  packages/extensions/src/khr-lights-punctual/lights-punctual.ts
  packages/extensions/src/khr-materials-variants/materials-variants.ts
  packages/extensions/src/khr-texture-basisu/texture-basisu.ts
  packages/extensions/src/types/draco3d.ts
  packages/extensions/tsconfig.json
Labels: code health, package:extensions
