Repository donmccurdy/glTF-Transform, pull requests merged in 2021-09, with the labels that each got.

#354 No invalid output when missing buffer
  packages/core/src/io/writer.ts
  packages/core/test/io/platform-io.test.ts
  packages/core/test/properties/texture.test.ts
  packages/extensions/test/materials-clearcoat.test.ts
  packages/extensions/test/materials-pbr-specular-glossiness.test.ts
  packages/extensions/test/materials-sheen.test.ts
  packages/extensions/test/materials-specular.test.ts
  packages/extensions/test/materials-transmission.test.ts
  packages/extensions/test/materials-volume.test.ts
  packages/extensions/test/texture-basisu.test.ts
  packages/extensions/test/texture-transform.test.ts
  packages/extensions/test/texture-webp.test.ts
Labels: bug, package:core

#355 Verify vertex count when Draco-compressing meshes with morph targets
  packages/extensions/src/khr-draco-mesh-compression/encoder.ts
Labels: bug, package:extensions

#356 Fix ExtensionProperty .clone()
  packages/core/src/properties/extension-property.ts
  packages/core/src/properties/property.ts
  packages/core/test/extension.test.ts
Labels: bug, package:extensions, package:core

#357 Remove 'markdown-table' dependency
  package.json
  packages/cli/package.json
  packages/cli/src/inspect.ts
  yarn.lock
Labels: code health, dependencies, package:cli

#360 Fix extraneous WebIO requests related to Data URIs
  packages/core/src/io/node-io.ts
  packages/core/src/io/platform-io.ts
  packages/core/src/io/web-io.ts
  packages/core/test/io/web-io.test.ts
Labels: bug, package:core

#368 Corrected multi-byte units in format function
  packages/cli/src/util.ts
  packages/cli/test/util.test.ts
Labels: feature, package:cli
