Repository donmccurdy/glTF-Transform, pull requests merged in 2022-06, with the labels that each got.

#599 The node of IAnimationChannelTarget should be optional
  packages/core/src/io/reader.ts
  packages/core/src/types/gltf.ts
Labels: bug, package:core

#600 Add weight normalization option to quantize function
  packages/functions/src/quantize.ts
Labels: feature, package:functions

#604 Prevent document.clone() from modifying original document's extensions
  packages/core/src/document.ts
  packages/extensions/test/texture-transform.test.ts
Labels: bug, package:extensions
