Repository donmccurdy/glTF-Transform, pull requests merged in 2022-12, with the labels that each got.

#740 Fix bug reading meshopt-encoded .gltf files
  packages/extensions/src/ext-meshopt-compression/meshopt-compression.ts
  packages/extensions/test/in/BoxMeshopt.bin
  packages/extensions/test/in/BoxMeshopt.gltf
  packages/extensions/test/meshopt-compression.test.ts
Labels: bug, package:extensions

#742 Remove leaked devDependency types from exported API
  packages/functions/src/meshopt.ts
  packages/functions/src/reorder.ts
  packages/functions/src/simplify.ts
Labels: bug, package:functions

#663 Reorder dedupe property types
  packages/functions/src/dedup.ts
  packages/functions/test/dedup.test.ts
Labels: feature, package:functions

#755 instance: warn but don't throw on animated input
  packages/functions/src/instance.ts
Labels: bug, package:functions

#756 Add morph target support in transformMesh, transformPrimitive
  packages/functions/src/transform-mesh.ts
  packages/functions/test/transform-mesh.test.ts
Labels: feature, package:functions

#757 Show KTX2 compression in inspect() report
  packages/functions/package.json
  packages/functions/src/inspect.ts
Labels: feature, package:cli, package:functions

#759 Prune: Add 'keepAttributes' option for unused vertex attributes
  packages/cli/src/cli.ts
  packages/functions/src/prune.ts
  packages/functions/test/prune.test.ts
Labels: feature, package:functions

#760 Fix resampling of quaternion keyframe tracks
  packages/core/src/utils/math-utils.ts
  packages/functions/src/resample.ts
  packages/functions/test/resample.test.ts
  packages/global.d.ts
Labels: bug, package:functions
