Repository donmccurdy/glTF-Transform, pull requests merged in 2023-07, with the labels that each got.

#1019 Add --weld option to 'optimize' command.
  packages/cli/src/cli.ts
Labels: feature, package:cli

#1020 Add failing test for dedup() with animated root material property
  packages/functions/test/dedup.test.ts
Labels: bug, package:functions

#1026 Fix parent/child validation regression
  packages/core/src/properties/node.ts
  packages/core/src/properties/scene.ts
  packages/core/test/properties/node.test.ts
  packages/core/test/properties/scene.test.ts
Labels: bug, package:core

#1029 Fix attribute dynamic range
  packages/functions/src/weld.ts
Labels: bug, package:functions

#1037 Add --pattern flag in CLI "etc1s" and "uastc" commands
  packages/cli/src/cli.ts
  packages/cli/src/transforms/toktx.ts
Labels: feature, package:cli

#1035 Reduce normal tolerance for Weld
  packages/functions/src/weld.ts
Labels: feature, package:functions

#1046 weld: Expose 'toleranceNormal' option.
  packages/cli/src/cli.ts
  packages/functions/src/weld.ts
Labels: feature, package:cli, package:functions
