Repository donmccurdy/glTF-Transform, pull requests merged in 2023-03, with the labels that each got.

#833 Allow Nodes in multiple Scenes, deprecate Node#getParent()
  packages/core/src/properties/node.ts
  packages/core/src/properties/scene.ts
  packages/functions/src/clear-node-parent.ts
  packages/functions/src/flatten.ts
  packages/functions/src/get-node-scene.ts
  packages/functions/src/index.ts
  packages/functions/src/instance.ts
  packages/functions/src/list-node-scenes.ts
  packages/functions/src/utils.ts
  packages/functions/test/clear-node-parent.test.ts
  packages/functions/test/flatten.test.ts
  packages/functions/test/list-node-scenes.ts
Labels: feature, package:core, package:functions

#838 Update cli.ts
  packages/cli/src/cli.ts
Labels: feature, package:cli

#836 Add CI for Deno
  .github/workflows/ci.yml
  test/deno.json
  test/deno.lock
  test/deno.test.ts
Labels: code health

#867 Fix 'optimize' command in Node.js v14
  package.json
  packages/cli/src/session.ts
  packages/cli/test/cli.test.ts
  yarn.lock
Labels: bug, package:cli

#748 Add KHR_materials_anisotropy
  docs/EXTENSIONS.md
  docs/theme/layouts/default.hbs
  packages/extensions/src/constants.ts
  packages/extensions/src/extensions.ts
  packages/extensions/src/khr-materials-anisotropy/anisotropy.ts
  packages/extensions/src/khr-materials-anisotropy/index.ts
  packages/extensions/src/khr-materials-anisotropy/materials-anisotropy.ts
  packages/extensions/test/materials-anisotropy.test.ts
Labels: feature, package:extensions

#872 Add compilerOptions.rootDir to tsconfig, resolve warnings.
  packages/cli/test/tsconfig.json
  packages/core/test/tsconfig.json
  packages/extensions/test/tsconfig.json
  packages/functions/test/tsconfig.json
Labels: code health

#803 Improve weld() performance with spatial grid
  packages/functions/src/clean-primitive.ts
  packages/functions/src/weld.ts
  packages/functions/test/weld.test.ts
Labels: feature, package:functions

#878 Fix quantization transforms for EXT_mesh_gpu_instancing
  packages/functions/src/quantize.ts
  packages/functions/test/quantize.test.ts
Labels: bug, package:functions

#883 Remove duplicate skins in dedup()
  packages/cli/src/cli.ts
  packages/functions/src/dedup.ts
  packages/functions/test/dedup.test.ts
Labels: feature, package:functions

#884 Avoid duplicate skins in quantize()
  packages/functions/src/quantize.ts
Labels: bug, package:functions

#885 Optimize dedup() loop performance
  packages/functions/src/dedup.ts
Labels: feature, package:functions

#887 Default to non-exhaustive weld
  packages/functions/src/weld.ts
Labels: bug, package:functions

#888 Rename 'doc' to 'document'
  packages/cli/src/inspect.ts
  packages/cli/test/cli.test.ts
  packages/cli/test/ktxfix.test.ts
  packages/cli/test/toktx.test.ts
  packages/core/src/document.ts
  packages/core/src/io/reader.ts
  packages/core/src/json-document.ts
  packages/core/test/document.test.ts
  packages/core/test/extension.test.ts
  packages/core/test/io/node-io.test.ts
  packages/core/test/io/platform-io.test.ts
  packages/core/test/io/web-io.test.ts
  packages/core/test/properties/accessor.test.ts
  packages/core/test/properties/animation.test.ts
  packages/core/test/properties/buffer.test.ts
  packages/core/test/properties/camera.test.ts
  packages/core/test/properties/material.test.ts
  packages/core/test/properties/mesh.test.ts
  packages/core/test/properties/node.test.ts
  packages/core/test/properties/property.test.ts
  packages/core/test/properties/root.test.ts
  packages/core/test/properties/scene.test.ts
  packages/core/test/properties/skin.test.ts
  packages/core/test/properties/texture.test.ts
  packages/core/test/utils/get-bounds.test.ts
  packages/extensions/test/draco-mesh-compression.test.ts
  packages/extensions/test/lights-punctual.test.ts
Labels: code health
