Repository donmccurdy/glTF-Transform, pull requests merged in 2023-11, with the labels that each got.

#1155 Change ≤,≥ to <=, >= to fix display in terminal
  packages/cli/src/cli.ts
  packages/core/src/properties/node.ts
  packages/core/test/properties/node.test.ts
  packages/core/test/properties/scene.test.ts
  packages/extensions/src/khr-lights-punctual/light.ts
  packages/functions/src/instance.ts
  packages/functions/src/join-primitives.ts
  packages/functions/src/palette.ts
  packages/functions/src/sparse.ts
  packages/functions/src/weld.ts
  packages/functions/test/resample.test.ts
  packages/functions/test/simplify.test.ts
Labels: bug, package:cli

#1167 Docs Fix: Update prune docs to hint at options instead of claiming there are none
  packages/functions/src/prune.ts
Labels: bug, documentation, package:functions

#1164 Enable prune() to remove redundant mesh indices
  packages/cli/src/cli.ts
  packages/functions/src/join.ts
  packages/functions/src/palette.ts
  packages/functions/src/prune.ts
  packages/functions/src/quantize.ts
  packages/functions/src/reorder.ts
  packages/functions/src/simplify.ts
  packages/functions/src/weld.ts
  packages/functions/test/prune.test.ts
Labels: feature, package:functions
