Repository donmccurdy/glTF-Transform, pull requests merged in 2023-08, with the labels that each got.

#1059 Add a check to avoid prune in weld when tolerance is zero
  packages/functions/src/weld.ts
Labels: feature, package:functions

#1065 Move CLI to a fork of Caporal.js
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/config.ts
  packages/cli/src/program.ts
  packages/cli/src/session.ts
  yarn.lock
Labels: code health, dependencies, package:cli

#1066 Prevent `simplify` from leaving degenerate mesh primitives
  packages/functions/src/simplify.ts
  packages/functions/test/simplify.test.ts
Labels: bug, package:functions

#1067 Support joining quantized prims without prior dequantization
  packages/cli/src/cli.ts
  packages/functions/src/dequantize.ts
  packages/functions/src/index.ts
  packages/functions/src/join-primitives.ts
  packages/functions/src/join.ts
  packages/functions/test/join.test.ts
  packages/functions/test/quantize.test.ts
  packages/functions/test/simplify.test.ts
  packages/functions/test/sort-primitive-weights.test.ts
  packages/functions/test/transform-mesh.test.ts
  packages/test-utils/src/index.ts
Labels: bug, package:functions

#1068 Avoid explicitly passing Sharp default quality flags
  packages/cli/src/cli.ts
  packages/functions/src/texture-compress.ts
  packages/functions/test/texture-compress.test.ts
Labels: bug, package:cli, package:functions

#1073 Various improvements to 'optimize' quality
  packages/functions/src/dedup.ts
  packages/functions/src/instance.ts
  packages/functions/src/transform-primitive.ts
  packages/functions/src/utils.ts
  packages/functions/src/weld.ts
Labels: bug, package:cli, package:functions

#1075 Support textureCompress() on web, with fallback to ndarray-pixels
  packages/functions/src/texture-compress.ts
  packages/functions/src/texture-resize.ts
  packages/functions/src/utils.ts
  packages/functions/test/texture-compress.test.ts
Labels: feature, package:functions
