Repository donmccurdy/glTF-Transform, pull requests merged in 2023-01, with the labels that each got.

#767 Export weldOnly and weldAndMerge
  packages/functions/src/weld.ts
Labels: feature, package:functions

#770 Add documentation for weldPrimitive()
  packages/functions/src/weld.ts
Labels: documentation, package:functions

#772 Resample should clean up duplicate accessors
  packages/functions/src/resample.ts
Labels: feature, package:functions

#684 Fix attribute normalization in sortPrimitiveWeights()
  packages/functions/src/sort-primitive-weights.ts
  packages/functions/test/sort-primitive-weights.test.ts
Labels: bug, package:functions

#774 Rename bounds() → getBounds()
  packages/core/src/core.ts
  packages/core/src/utils/get-bounds.ts
  packages/core/src/utils/index.ts
  packages/core/test/utils/get-bounds.test.ts
  packages/extensions/src/khr-draco-mesh-compression/draco-mesh-compression.ts
  packages/extensions/test/draco-mesh-compression.test.ts
  packages/extensions/test/meshopt-compression.test.ts
  packages/functions/src/center.ts
  packages/functions/src/index.ts
  packages/functions/src/inspect.ts
  packages/functions/test/center.test.ts
  packages/functions/test/dequantize.test.ts
  packages/functions/test/quantize.test.ts
  packages/functions/test/simplify.test.ts
Labels: code health, package:core

#752 Replace @squoosh/lib with sharp
  package.json
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/types/global.d.ts
  packages/core/package.json
  packages/core/src/properties/texture.ts
  packages/core/src/utils/image-utils.ts
  packages/extensions/package.json
  packages/functions/package.json
  packages/functions/src/index.ts
  packages/functions/src/squoosh.ts
  packages/functions/src/texture-compress.ts
  packages/functions/src/types/.gitkeep
  packages/functions/src/types/squoosh-lib.ts
  packages/functions/test/squoosh.test.ts
  packages/functions/test/texture-compress.test.ts
  yarn.lock
Labels: feature, package:cli, package:functions

#775 Add Sharp-based resize option to textureCompress
  packages/cli/src/cli.ts
  packages/functions/src/texture-compress.ts
  packages/functions/src/texture-resize.ts
Labels: feature, package:cli, package:functions

#778 Add --format option to CLI validate command
  packages/cli/src/cli.ts
  packages/cli/src/inspect.ts
  packages/cli/src/util.ts
  packages/cli/src/validate.ts
Labels: feature, package:cli

#779 NodeIO: Create missing directories when writing .gltf resources
  packages/cli/src/validate.ts
  packages/core/src/io/node-io.ts
Labels: feature, package:cli, package:core

#784 Add clearNodeParent(), clearNodeTransform(), getNodeScene()
  packages/functions/src/clear-node-parent.ts
  packages/functions/src/clear-node-transform.ts
  packages/functions/src/get-node-scene.ts
  packages/functions/src/index.ts
  packages/functions/src/transform-mesh.ts
  packages/functions/src/transform-primitive.ts
  packages/functions/test/clear-node-parent.test.ts
  packages/functions/test/clear-node-transform.test.ts
  packages/functions/test/get-node-scene.test.ts
Labels: feature, package:functions

#787 Avoid requiring document as a function parameter unnecessarily
  packages/cli/src/transforms/ktxfix.ts
  packages/cli/src/transforms/toktx.ts
  packages/core/src/document.ts
  packages/core/src/properties/property.ts
  packages/functions/src/list-texture-channels.ts
  packages/functions/src/list-texture-info.ts
  packages/functions/src/list-texture-slots.ts
  packages/functions/src/texture-compress.ts
  packages/functions/src/texture-resize.ts
  packages/functions/test/list-texture-channels.test.ts
  packages/functions/test/list-texture-info.test.ts
  packages/functions/test/list-texture-slots.test.ts
Labels: code health, package:functions

#788 Upgrade CI to Node.js 18, remove headless-gl references
  .github/workflows/ci.yml
  docs/CONTRIBUTING.md
Labels: code health

#790 Add flatten()
  packages/cli/src/cli.ts
  packages/core/src/properties/scene.ts
  packages/functions/src/flatten.ts
  packages/functions/src/index.ts
  packages/functions/src/utils.ts
  packages/functions/test/clear-node-parent.test.ts
  packages/functions/test/flatten.test.ts
Labels: feature, package:functions

#777 Rename MathUtils norm/denorm methods
  packages/core/src/properties/accessor.ts
  packages/core/src/utils/math-utils.ts
  packages/core/test/utils/math-utils.test.ts
  packages/extensions/src/ext-meshopt-compression/encoder.ts
  packages/functions/src/sort-primitive-weights.ts
Labels: code health, package:core

#793 Add support for sparse accessors
  packages/cli/src/cli.ts
  packages/core/src/constants.ts
  packages/core/src/io/reader.ts
  packages/core/src/io/writer-context.ts
  packages/core/src/io/writer.ts
  packages/core/src/properties/accessor.ts
  packages/core/test/properties/accessor.test.ts
  packages/extensions/src/ext-meshopt-compression/meshopt-compression.ts
  packages/extensions/src/khr-draco-mesh-compression/draco-mesh-compression.ts
  packages/extensions/src/khr-draco-mesh-compression/encoder.ts
  packages/extensions/test/draco-mesh-compression.test.ts
  packages/extensions/test/meshopt-compression.test.ts
  packages/functions/src/index.ts
  packages/functions/src/quantize.ts
  packages/functions/src/resample.ts
  packages/functions/src/sparse.ts
  packages/functions/test/sparse.test.ts
Labels: feature, package:core

#796 Store copies of array literal attributes
  packages/core/src/properties/property.ts
  packages/core/test/properties/property.test.ts
Labels: feature, package:core

#797 ImageUtils: Rename getMemSize → getGPUByteLength
  packages/core/src/utils/image-utils.ts
  packages/core/test/utils/image-utils.test.ts
  packages/extensions/test/texture-basisu.test.ts
  packages/extensions/test/texture-webp.test.ts
  packages/functions/src/inspect.ts
Labels: code health, package:extensions, package:core

#800 Upgrade to pure ESM exports
  package.json
  packages/cli/package.json
  packages/cli/src/transforms/xmp.ts
  packages/core/package.json
  packages/extensions/package.json
  packages/functions/package.json
  packages/test-utils/package.json
  renovate.json
  yarn.lock
Labels: code health, package:extensions, package:core, package:functions

#707 Add joinPrimitives()
  packages/core/src/core.ts
  packages/functions/src/index.ts
  packages/functions/src/join-primitives.ts
  packages/functions/src/utils.ts
  packages/functions/test/join-primitives.test.ts
Labels: feature, package:functions

#658 Add join()
  packages/cli/src/cli.ts
  packages/cli/test/toktx.test.ts
  packages/core/src/io/reader.ts
  packages/functions/src/index.ts
  packages/functions/src/join-primitives.ts
  packages/functions/src/join.ts
  packages/functions/src/prune.ts
  packages/functions/src/utils.ts
  packages/functions/test/in/ShapeCollection.glb
  packages/functions/test/join.test.ts
  packages/functions/test/prune.test.ts
Labels: feature, package:functions
