Repository donmccurdy/glTF-Transform, pull requests merged in 2024-07, with the labels that each got.

#1457 fix(core): Allow GLB with unknown chunk without BIN chunk
  packages/core/src/io/platform-io.ts
Labels: bug, package:core

#1468 refactor(cli): Replace 'inquirer' with 'prompts'
  packages/cli/package.json
  packages/cli/src/transforms/xmp.ts
  yarn.lock
Labels: code health, dependencies, package:cli, performance

#1469 refactor(core,cli): Remove unnecessary Node.js Buffer uses
  packages/cli/src/transforms/toktx.ts
  packages/cli/test/cli.test.ts
  packages/core/src/io/node-io.ts
  packages/core/src/utils/buffer-utils.ts
  packages/core/test/utils/buffer-utils.test.ts
Labels: code health, package:cli, package:core

#1470 chore(deps): Bump dependencies
  package.json
  packages/cli/package.json
  packages/docs/package.json
  packages/extensions/package.json
  packages/functions/package.json
  yarn.lock
Labels: code health, package:cli, package:core
