Repository donmccurdy/glTF-Transform, pull requests merged in 2024-11, with the labels that each got.

#1555 fix(functions): Handle vertex count increase when draco compressing uint8 indices
  packages/extensions/src/khr-draco-mesh-compression/draco-mesh-compression.ts
  packages/test-utils/src/create-torus-primitive.ts
Labels: bug, package:extensions

#1551 Add optimize CLI join flags `--join-keep-named` and `--join-keep-meshes`
  packages/cli/src/cli.ts
Labels: feature, package:cli

#1563 chore(cli): Clean up 'optimize' flags
  packages/cli/src/cli.ts
Labels: code health, package:cli

#1573 fix(io): Avoid spreading long arrays
  packages/core/src/io/writer.ts
Labels: bug, package:core, performance
