Repository donmccurdy/glTF-Transform, pull requests merged in 2024-04, with the labels that each got.

#1141 v4: Upgrade to property-graph v2 (breaking change)
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/properties/animation.ts
  packages/core/src/properties/extensible-property.ts
  packages/core/src/properties/mesh.ts
  packages/core/src/properties/node.ts
  packages/core/src/properties/primitive-target.ts
  packages/core/src/properties/primitive.ts
  packages/core/src/properties/property.ts
  packages/core/src/properties/root.ts
  packages/core/src/properties/scene.ts
  packages/core/src/properties/skin.ts
  packages/core/src/utils/property-utils.ts
  packages/extensions/src/ext-mesh-gpu-instancing/instanced-mesh.ts
  packages/extensions/src/khr-materials-variants/mapping-list.ts
  packages/extensions/src/khr-materials-variants/mapping.ts
  packages/extensions/test/draco-mesh-compression.test.ts
  scripts/deno.lock
  yarn.lock
Labels: code health, dependencies, package:core, performance

#1344 perf(functions): Optimizations for unweld() on larger files
  packages/functions/src/unweld.ts
Labels: package:functions

#1345 perf(functions): Optimize loop in transformPrimitive()
  packages/functions/src/transform-primitive.ts
Labels: feature, package:functions, performance

#1350 chore(functions): Mark 'cleanup' options as experimental
  packages/functions/src/flatten.ts
  packages/functions/src/join.ts
  packages/functions/src/palette.ts
  packages/functions/src/quantize.ts
  packages/functions/src/reorder.ts
  packages/functions/src/resample.ts
  packages/functions/src/simplify.ts
  packages/functions/src/weld.ts
Labels: documentation, package:functions

#1354 Expose simplifyRatio and simplifyLockBorder to optimize CLI
  packages/cli/src/cli.ts
Labels: feature, package:cli

#1355 chore(deps): Update to ESLint v9
  .eslintrc.json
  eslint.config.js
  package.json
  packages/core/src/extension.ts
  packages/core/src/types/gltf.ts
  packages/functions/src/metal-rough.ts
  packages/functions/src/prune.ts
  packages/functions/src/unpartition.ts
  packages/functions/src/unweld.ts
  yarn.lock
Labels: code health, dependencies

#1351 perf(functions): Improve weld performance in extreme cases
  packages/functions/src/clean-primitive.ts
  packages/functions/src/compact-primitive.ts
  packages/functions/src/join-primitives.ts
  packages/functions/src/remap-primitive.ts
  packages/functions/src/reorder.ts
  packages/functions/src/simplify.ts
  packages/functions/src/utils.ts
  packages/functions/src/weld.ts
Labels: feature, package:functions, performance

#1357 chore(functions): Remove lossy weld
  packages/cli/src/cli.ts
  packages/functions/src/compact-primitive.ts
  packages/functions/src/convert-primitive-mode.ts
  packages/functions/src/draco.ts
  packages/functions/src/hash-table.ts
  packages/functions/src/transform-primitive.ts
  packages/functions/src/weld.ts
  packages/functions/test/weld.test.ts
Labels: package:functions, performance

#1358 perf(functions): Optimize reorder() for shared vertex streams
  packages/functions/src/reorder.ts
Labels: package:functions, performance

#1369 fix(cli): Ensure toktx() cleans up its temp directory
  packages/cli/package.json
  packages/cli/src/transforms/toktx.ts
Labels: bug, package:cli

#1373 perf(core): Improve performance when writing many buffers
  packages/core/src/io/writer-context.ts
  packages/core/src/io/writer.ts
  packages/extensions/test/draco-mesh-compression.test.ts
  packages/extensions/test/mesh-gpu-instancing.test.ts
Labels: package:core, performance

#1374 fix(partition): Ensure valid and unique URIs in partition()
  packages/functions/src/partition.ts
  packages/functions/test/partition.test.ts
Labels: bug, package:functions

#1377 feat(cli): Change default optimize() compression to Meshopt
  packages/cli/src/cli.ts
  packages/cli/test/cli.test.ts
Labels: feature, package:cli

#1376 fix(cli): Fix KTX texture resizing in 'optimize', 'etc1s', and 'uastc' commands
  packages/cli/src/cli.ts
  packages/cli/src/transforms/toktx.ts
  packages/cli/test/toktx.test.ts
  packages/functions/src/index.ts
Labels: bug, package:cli

#1378 fix(cli): Ensure multiple-of-4 dimensions for toktx()
  packages/cli/src/transforms/toktx.ts
  packages/functions/src/texture-compress.ts
  packages/functions/src/utils.ts
  packages/functions/test/texture-compress.test.ts
Labels: bug, package:cli, package:functions

#1375 feat(functions): Add mergeDocuments, cloneDocument, copyToDocument, moveToDocument
  benchmarks/tasks/clone.bench.ts
  packages/cli/src/transforms/merge.ts
  packages/core/src/document.ts
  packages/core/src/index.ts
  packages/core/test/document.test.ts
  packages/core/test/extension.test.ts
  packages/core/test/properties/node.test.ts
  packages/core/test/properties/root.test.ts
  packages/extensions/test/lights-punctual.test.ts
  packages/extensions/test/materials-anisotropy.test.ts
  packages/extensions/test/materials-clearcoat.test.ts
  packages/extensions/test/materials-dispersion.test.ts
  packages/extensions/test/materials-emissive-strength.test.ts
  packages/extensions/test/materials-ior.test.ts
  packages/extensions/test/materials-iridescence.test.ts
  packages/extensions/test/materials-pbr-specular-glossiness.test.ts
  packages/extensions/test/materials-sheen.test.ts
  packages/extensions/test/materials-specular.test.ts
  packages/extensions/test/materials-transmission.test.ts
  packages/extensions/test/materials-unlit.test.ts
  packages/extensions/test/materials-volume.test.ts
  packages/extensions/test/mesh-gpu-instancing.test.ts
  packages/extensions/test/mesh-quantization.test.ts
  packages/extensions/test/texture-transform.test.ts
  packages/extensions/test/xmp.test.ts
  packages/functions/src/document-utils.ts
  packages/functions/src/index.ts
  packages/functions/test/document-utils.test.ts
Labels: feature, package:core, package:functions

#1159 feat(extensions): Add KHR_materials_diffuse_transmission
  packages/docs/src/lib/pages/extensions.md
  packages/docs/static/main.css
  packages/docs/static/media/extensions/khr-materials-diffuse-transmission.png
  packages/docs/static/media/extensions/khr-materials-transmission.png
  packages/extensions/src/constants.ts
  packages/extensions/src/index.ts
  packages/extensions/src/khr-materials-diffuse-transmission/diffuse-transmission.ts
  packages/extensions/src/khr-materials-diffuse-transmission/index.ts
  packages/extensions/src/khr-materials-diffuse-transmission/materials-diffuse-transmission.ts
  packages/extensions/src/khr-materials-transmission/materials-transmission.ts
  packages/extensions/test/materials-diffuse-transmission.test.ts
Labels: feature, package:extensions

#959 chore(ci): Add CI for windows local build
  .github/workflows/ci.yml
  packages/docs/package.json
  packages/docs/src/lib/server/model/index.ts
  yarn.lock
Labels: code health

#1380 docs(extensions): Add more material extension illustrations
  packages/docs/static/media/extensions/khr-materials-anisotropy.jpg
  packages/docs/static/media/extensions/khr-materials-emissive-strength.jpg
  packages/docs/static/media/extensions/khr-materials-iridescence.png
  packages/extensions/src/khr-materials-anisotropy/materials-anisotropy.ts
  packages/extensions/src/khr-materials-emissive-strength/materials-emissive-strength.ts
  packages/extensions/src/khr-materials-iridescence/materials-iridescence.ts
Labels: documentation, package:extensions

#1381 perf(functions): Improve simplify() performance on indexed primitives
  packages/functions/src/remap-primitive.ts
  packages/functions/src/simplify.ts
  packages/functions/test/simplify.test.ts
Labels: package:functions, performance
