Repository donmccurdy/glTF-Transform, pull requests merged in 2025-10, with the labels that each got.

#1718 fix(docs): Improve documentation of mesh primitive modes
  packages/core/src/properties/primitive.ts
Labels: bug, documentation, package:core

#1702 Update `ArrayBuffer` types to support TypeScript 5.9
  packages/cli/src/cli.ts
  packages/cli/src/transforms/toktx.ts
  packages/core/src/constants.ts
  packages/core/src/io/deno-io.ts
  packages/core/src/io/node-io.ts
  packages/core/src/io/platform-io.ts
  packages/core/src/io/reader-context.ts
  packages/core/src/io/web-io.ts
  packages/core/src/io/writer-context.ts
  packages/core/src/json-document.ts
  packages/core/src/properties/texture.ts
  packages/core/src/utils/buffer-utils.ts
  packages/extensions/src/ext-meshopt-compression/encoder.ts
  packages/extensions/src/khr-draco-mesh-compression/decoder.ts
  packages/functions/src/compact-primitive.ts
  packages/functions/src/dequantize.ts
  packages/functions/src/join-primitives.ts
  packages/functions/src/reorder.ts
  packages/functions/src/simplify.ts
  packages/functions/src/tangents.ts
  packages/functions/src/texture-compress.ts
  packages/functions/src/utils.ts
  packages/global.d.ts
  packages/view/src/ImageProvider.ts
  packages/view/src/subjects/TextureSubject.ts
Labels: feature, code health, package:core

#1729 chore(deps): Update to TypeScript v5.9.3
  package.json
  packages/cli/src/cli.ts
  packages/core/src/io/deno-io.ts
  packages/core/src/io/platform-io.ts
  packages/core/src/utils/buffer-utils.ts
  packages/extensions/src/ext-meshopt-compression/encoder.ts
  packages/functions/src/tangents.ts
  packages/functions/src/utils.ts
  packages/view/src/ImageProvider.ts
  packages/view/src/subjects/TextureSubject.ts
  yarn.lock
Labels: code health, dependencies, package:core
