Repository donmccurdy/glTF-Transform, pull requests merged in 2025-06, with the labels that each got.

#1660 Add unwrap transform
  package.json
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/functions/src/index.ts
  packages/functions/src/unwrap.ts
  yarn.lock
Labels: feature, dependencies, package:cli, package:functions

#1665 docs(functions): Extend unwrap documentation
  packages/functions/src/unwrap.ts
Labels: documentation, package:functions

#1663 chore(functions): Add unwrap() benchmark
  benchmarks/benchmark.ts
  benchmarks/tasks/index.ts
  benchmarks/tasks/unwrap.bench.ts
Labels: package:functions, performance

#1670 chore(deps): Update to meshoptimizer v0.24
  package.json
  packages/cli/package.json
  packages/functions/src/simplify.ts
  yarn.lock
Labels: dependencies, package:extensions, package:cli, package:functions
