Repository donmccurdy/glTF-Transform, pull requests merged in 2025-07, with the labels that each got.

#1685 fix(functions): Remove cleanup side effects from simplify() and weld()
  packages/functions/src/simplify.ts
  packages/functions/src/utils.ts
  packages/functions/src/weld.ts
  packages/functions/test/simplify.test.ts
Labels: bug, package:functions

#1693 chore(view): Clean up /view examples
  packages/view/examples/1-model.ts
  packages/view/examples/2-material.ts
  packages/view/examples/3-diff.ts
  packages/view/examples/dropzone.ts
  packages/view/examples/material-pane.ts
  packages/view/examples/stats-pane.ts
Labels: code health, package:view

#1690 🐛(view/material): fix emissiveIntensity when requesting material's threejs obj
  packages/view/src/subjects/MaterialSubject.ts
Labels: bug, package:view

#1694 chore(view): Update /view demos to show KHR_materials_emissive_strength
  packages/view/examples/material-pane.ts
Labels: package:view

#1698 fix(cli): Warn when calling 'optimize' with Draco and without welding
  packages/cli/src/cli.ts
Labels: bug, package:cli
